/* NOTE Font family is Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: black url('img/saucerLoading.gif') no-repeat center center;
    background-size: 150px;
}


.section-container section {
   
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.section-container img {
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.section-container section h2 {
    font-size: 40px;
    margin: 16px 0;
}

.section-container p {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.section-container .section-heading {
    width: 400px;
    text-align: center;
    border-top: 2px solid #897ed2;
    border-bottom: 2px solid #897ed2;
    margin-bottom: 10px;
}

.section-container .section-heading-top {
    width: 400px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.section-container .section-heading-bottom {
    width: 400px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

/* Style inputs, select elements and textareas */
input[type=text],
select,
textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */


input[type=submit] {
    width: 150px;
    background-color: #897ed2;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    float: right;
}

.btn:hover {
    background-color: #bde2ef;
    color: black;
}

/* Style the container */
.container {
    border-radius: 5px;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}