@font-face
{
    font-family: 'venusRising';
    src: url('../font/venusRising.ttf') format("opentype");
}

body {
    background-color: black;
    font-family: "venusRising";
}

.main-wrapper {
    position: relative; 
    display: inline-block;
}

.fade-in-text {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: none;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-size: 200; 
    color: #962a23;
    -webkit-text-stroke: 3px black;
    background-image: radial-gradient(black 30%, transparent 100%, transparent 100%);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;};
    100% {opacity: 1;};
}

.refresh-text {
    font-size: 48; 
    -webkit-text-stroke: .8px black;
}

.begin-button {
    font-family: "venusRising";
    position: absolute; 
    top: 4; 
    bottom: 0; 
    left: 4; 
    right: 0;
    width: fit-content;
    height: fit-content;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 55; 
    color: #962a23;
    background-color: grey;
    -webkit-text-stroke: 3px black;
}

.ui-wrapper {
    left: 725;
    position: absolute; 
    top: 10;
    font-size: 30; 
    color: #962a23; 
    -webkit-text-stroke: 0.5px white;
    display: flex;
}

.player-status-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50;
}

.hearts-wrapper {
    display: flex; 
    align-items: center;
}

.hearts-svg {
    width: 35px; 
    color: red; 
    margin-right: 10px;
}

.coins-wrapper {
    display: flex; 
    align-items: center;
}

.coins-svg {
    width: 35px; 
    color: gold; 
    margin-right: 10px;
}

.game-status-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50;
}

.wave-count-wrapper {
    display: flex; 
    align-items: center;
}

.wave-count-svg {
    width: 35px; 
    color: #0077BE; 
    margin-right: 10px;
}

.kill-count-wrapper {
    display: flex; 
    align-items: center;
}

.kill-count-svg {
    width: 35px; 
    color: white; 
    margin-right: 10px;
}

.next-wave-wrapper {
    left: 1100;
    position: absolute; 
    top: 10;
    font-size: 18; 
    color: #962a23; 
    -webkit-text-stroke: 0.5px white;
    display: flex;
    flex-direction: column;
}

.next-wave-text {
    -webkit-text-stroke: 0.5px white;
    text-decoration: underline;
}

.enemy-count-wrapper {
    display: flex; 
    align-items: center;
}

.enemy-count-svg {
    width: 35px; 
    color: grey; 
    margin-right: 10px;
}

.enemy-health-wrapper {
    display: flex; 
    align-items: center;
}

.enemy-health-svg {
    width: 35px; 
    color: darkred; 
    margin-right: 10px;
}

.enemy-speed-wrapper {
    display: flex; 
    align-items: center;
}

.enemy-speed-svg {
    width: 35px; 
    color: white; 
    margin-right: 10px;
}

.building-costs {
    display: flex;
    flex-direction: row;
    font-size: 30; 
    color: #962a23;
    -webkit-text-stroke: 0.5px white;
    align-items: center;
    margin-top: 10;
}

.resize-instructions {
    display: flex;
    flex-direction: row;
    font-size: 16; 
    color: #ffffff;
    align-items: center;
    margin-top: 10;
}